<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FUZZYCAREER</title>
  <link rel="stylesheet" href="/static/landing.css">
</head>
<body>
  <header class="hero">
    <div class="container">
      <!-- <h1>FUZZYCAREER</h1> -->
      <h1 class="display-4">
        <a href="/" style="text-decoration: none; color: inherit;">FuzzyCareer</a>
    </h1>
      <p>A Fuzzy-Logic-Based Online Career Guidance System for Pre-College Students<br> </p>
      <h2> BY: <b> OLATUNDE AKINTOYE (NOU224138124) </b></h2>
      <a href="/started" class="btn btn-primary">Get Started</a>
    </div>
  </header>

  <script src="script.js"></script>
</body>
</html>
